*.py[cod]
venv
ssl.key

# C extensions
*.so

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
*/static/libs/*/test/*
*/static/libs/*/tests/*
*/static/libs/*/source/*

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Sublime
*.sublime-workspace

logs
backups
.DS_Store
secrets.py
secrets_dev.py
*.sqlite3
