{% extends "common/base.html" %}

{% block page_title %}{{hackathon.name}}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row m-top-xs-20 hackers">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 center-xs left-sm">
        <a href="/hackathon/{{hackathon.name}}/join" class="btn btn-primary">Join this hackathon</a> 
      </div>
    </div>
    <div class="row m-top-xs-20 hackers">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 center-xs left-sm">
        <h2>Top Hackers at {{hackathon.name}}</h2>
        {% for hacker in hackers %}
          <p class="hacker">#{{loop.index}} Hacker {% if hacker.avatar_url %}<img src="{{hacker.avatar_url}}" height="20" width="20" />{% endif %}<a href="{{hacker.profile_url}}">{{hacker.full_name or hacker.username}}</a> coded {{hacker.coding_time}}</p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
